.active24by7-logo {
    width: 70px;
    height: 70px;
}
#header .logo a {
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    border-radius: 50%;
    padding: 25px;
}
#header {
    background-color: white;
}
.logo {
    background: #f8f9fa;
}
.logo-title-1 {
    color: #00933B;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    font-family: sans-serif;
    margin-left: -14px;
}
.logo-title-2 {
    color: #FF0006;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    font-family: sans-serif;
}
.carousel-container .slide {
height: 300px;
width: 626px;
}
#hero {
    height: 90vh;
}
.contact .php-email-form .contact-btn {
    border: 0;
    padding: 10px 32px;
    color: #0880e8;
    transition: 0.4s;
    border-radius: 50px;
    border: 2px solid #0880e8;
    background: #fff;
}
.contact-us-form label.error, .lead-us-form label.error {
    color: red;
    font-size: 16px;
    font-weight: 600;
}
.status-message {
    height: 30px;
    text-align: center;
    background: #f8f9fa;
}
.status-message .success {
    color: green;
    font-size: 20px;
    font-weight: 900;
}
@media only screen and (min-width: 768px) {
    .carousel-container .slide {
        width: 850px;
        height: 315px;
        transition: none 0s ease 0s;
        text-align: inherit;
        line-height: 0px;
        border-width: 0px;
        margin: 0px;
        padding: 0px;
        letter-spacing: 0px;
        font-weight: 400;
        font-size: 13px;
    }
}
@media only screen and (max-width: 768px) {
    .carousel-container .slide {
        height: 100%;
        width: 88%;
     }
}
#topbar {
background: #dde0df;
}
#topbar .contact-info a {
color: black;
}
#hero:before {
background: #006a4d;
}

#header.header-scrolled {
    background: #f8f9fa;
    top: 0;
    border-top: 0.1px solid #2d8259;
    border-bottom: 0.1px solid #2d8259;
}

.cta {
    background: linear-gradient(rgba(7, 92, 13, 0.8), rgba(4, 52, 11, 0.9)), url(../img/cta-bg.jpg) fixed center center;
    
}

.pricing .btn-buy {
    background: #FF0006;
}

.pricing .featured h3 {
    color: #fff;
    background: rgba(8, 79, 13, 0.8);
}

.pricing h3 {
    color: #006a4d;
}

#footer .footer-top {
    background: #006a4d;
}
#footer {
    background: #024731;
}
.back-to-top {
    background: #FF0006;
}

.pricing .advanced {
background: #FCB61A;
}

.pricing h4 {
color: #FF0006;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
    color: #103e04;
}
.navbar a, .navbar a:focus {
    color: #1b2119;
}
#topbar .contact-info i {
    color: #006a4d;
}
#topbar .contact-info a {
    color: #fa0e2ae6;
    font-size: 16px;
    font-weight: bold;
}
.icon-boxes .title a {
    color: #323233;
}
.section-title h2 {
    color: #006a4d;
}
.contact .info i {
    background: #006a4d;
}
.contact .info h4 {
    color: #348956;
}

.contact .php-email-form button[type=submit] {
    border: 0;
    padding: 10px 32px;
    color: #006a4d;
    transition: 0.4s;
    border-radius: 50px;
    border: 2px solid #006a4d;
    background: #fff;
}
.contact .php-email-form button[type=submit]:hover {
    border: 0;
    padding: 10px 32px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    border: 2px solid #006a4d;
    background: #006a4d;
}
.about .content .btn-learn-more {
    border: 0;
    padding: 10px 32px;
    color: #006a4d;
    transition: 0.4s;
    border-radius: 50px;
    border: 2px solid #006a4d;
    background: #fff;
}
.about .content .btn-learn-more:hover {
    border: 0;
    padding: 10px 32px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    border: 2px solid #006a4d;
    background: #006a4d;
}
.services .icon-box h4 a {
    color: #006a4d;
}
#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #fff;
    font-size: 18px;
    line-height: 1;
}
#pricing .col-lg-3, .pricing .box {
    height: 512px;
}
.nav-link:hover {
    text-decoration: none;
}
.about .content ul i {
color: #006a4d;
}